body {
    font-family: 'Open Sans', sans-serif;
}

/* common style */
.primary-but {
    border-radius: 15px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 20px 40px;
    gap: 5px;
}



/* header related style */

.header {
    background: rgba(229, 84, 115, 0.10);
    justify-content: space-evenly;
    align-items: center;
}

.header-contant {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    padding: 10px 20px 0px 150px;
    width: auto;
}

.header-title {
    display: flex;
    width: 500px;
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    margin: 100px 100px 20px 0px;
}

.header-pera {
    display: flex;
    width: 500px;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.head-image {
    width: 500px;
    height: 700px;
    margin: auto;
}

.header-info {
    margin-bottom: 100px;
    padding-left: 0px;
}




/* upper header style */

.shop-name {
    margin: 0px 370px 30px 29px;
    font-family: Cursive;
    font-size: 20px;
}

.header-option {
    display: flex;
    padding: 20px;
    background-color: #FFFFFF;
    height: 45px;
    width: auto;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #474747;
}



/* hot detailed related style */

.hot-det {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hot-det-info {}

.hot-del-img {
    margin-right: 100px;
}

.hot-det-title {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 200px 30px 20px 125px;
}

.special {
    color: #E55473;
}

.hot-det-pera {
    display: flex;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin: 0px 200px 10px 70px;
}

.shop-but {
    border-radius: 15px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding: 20px 40px;
    gap: 5px;
    margin: 20px 200px 100px 320px;
}



/* insta style added */
.insta-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    padding-top: 100px;
}

.insta-pera {
    display: flex;
    width: 594px;
    color: rgba(136, 109, 109, 0.6);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 372px;
}

.insta-img {
    display: flex;
    width: 370px;
    height: 370px;
    margin-bottom: 90px;
}

.ins-1 {
    margin: 20px;
    margin-left: 70px;
}

.ins-2 {
    margin: 20px;
}

.ins-3 {
    margin: 20px;
}

.ins-4 {
    margin: 20px;
}



/* latest deal style */
.latest-deal {
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    margin-left: 70px;
    margin-bottom: 100px;
}

.latest-deal-title {
    padding-top: 100px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.latest-deal-pera {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.latest-deal-email {
    border-radius: 8px;
    background: #FFF;
    width: 700px;
    height: 40px;
    align-items: center;
    margin-bottom: 125px;
    margin-left: 300px;
    margin-top: 50px;

}



/* footer related styles */